*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato';
	font-size: 16px;
}

.sec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.uno{
	background: url(pastillasarriba.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.sesgouno{/*hay que reparar*/
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 15vh 0 0 100vw;
	border-style: solid;
	border-color: transparent transparent transparent white;
}
.uno_{
	background: url(pastillasarriba.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mediouno{
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 15vh 0 0 100vw;
	border-style: solid;
	border-color: transparent transparent transparent white;
}

.sesgomediodos{/*probando sesgo para el espacio*/
	position: absolute;
	top: 0;
	left: 0;
	border-width:  15vh 100vw 0  0;
	border-style: solid;
	border-color: #fff transparent  transparent transparent;
}


.sesgoparauno_{
	position: absolute;
	top: 0;
	left: 0;
	border-width:  15vh 100vw 0  0;
	border-style: solid;
	border-color: #fff transparent  transparent transparent;
}


.sesgoparatres{ /*probando crear triangulo con sesgos*/
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 15vh 0 0 100vw;
	border-style: solid;
	border-color: transparent transparent transparent white;
}

.tres{
	background: url(pastillas.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sesgotres{
	position: absolute;
	top: 0;
	left: 0;
	border-width:  15vh 100vw 0  0;
	border-style: solid;
	border-color: #fff transparent  transparent transparent;
}

.dos{/*vamos a modificar la seccion dos la de enmedio*/
    background: url(espacioflaco.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dos img{
   width: 500px;
   height: 500px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo{
	height: 80px;
}
.logouno img{
height: 100%;
}

.enlaces a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-weight: 300;
	margin-left: 20px
}


a:hover{
	text-decoration: underline;
}

.texto{
   text-align: center;
   color: white;
   margin: 150px 0;

}
h1{
	font-size: 80px;
}

.texto_ p {
	font-size: 25px;
	font-weight: 300;
	border: 2px solid red;
	border-radius: 50px 15px;
	color: white;
	background: black;
}

.texto_ p{
	position: center;
	margin: 100px;
	padding: 10px;
	float: right;
	width: 700px;

	border: 3px solid #73AD21;
}

.texdos p{
	font-size: 18px;
	font-weight: 300;
	color: white;
	background: black;
	border: 2px solid red;
	border-radius: 10px 15px;
}
.texdos p{
	position: center;
	margin: 100px;
	padding: 10px;
	float: right;
	width: 700px;
	color: white;

	border: 3px solid #73AD21;
}

.textres p{

	font-size: 18px;
	font-weight: 300;
	color: white;
	padding: 10px;
	background: black;
	border: 2px solid red;
	border-radius: 10px 15px;
}
.textres p{
	position: center;
	margin: 40px;
	padding: 10px;
	float: right;
	width: 700px;
	color: white;

	border: 3px solid #73AD21;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
