*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: ;
}


.contenedor{

	width: 95%;
	max-width: 1000px;
	margin: auto;
}

.contenedor p{
    font-family: "Verdana";
	margin-bottom: 40px;
	font-size: 20px;
    
}

header nav{
	background: #3498db;
	margin-bottom: 10px;
}

header nav ul{
	list-style: none;
	overflow: hidden;
}

header nav ul li{
	float: left; 
}

header nav ul li a{
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
}
header nav ul li a:hover {
	background: #2980b9;
}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	/*left: 0;*/
	width: 100%;
	max-width: 1000px;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

.menu-fixed ul li a{
	padding: 15px 20px;
}

.contenedor div img {
	width: 100%
}
footer p {
 
max-width: 30%;
margin: auto;
background: #4CAF50;
padding: 5px 10px 0.5;

}

